BETTER_AUTH_URL=<your_domain> 
VITE_BETTER_AUTH_BASE_URL=<your_domain> 
BETTER_AUTH_BASE_URL=<your_domain> 
BETTER_AUTH_SECRET=<your_secret>
DATABASE_URL=<your_postgress>
GOOGLE_CLIENT_ID=<your_client_id>
GOOGLE_CLIENT_SECRET=<your_client_secret>
UPLOADTHING_TOKEN
UPLOADTHING_SECRET
MERCADO_PAGO_ACCESS_TOKEN
MERCADO_PAGO_PUBLIC_KEY